/*============ CSS BEGIN ============*/
/* Geniral style */
* {padding: 0; margin: 0;}
header, nav, section, article, aside, footer {display: block;}
html, body {height: auto; max-height: 100%;}
body {font-family:'Proxima Nova Regular', Georgia, sans-serif; font-size: 18px; color: #2d2d2d; //-webkit-font-smoothing: antialiased;}
p {padding: 10px 0; line-height: 118%;}
hr {border: none; border-bottom: 1px solid #d9d9d9;}

/* Link Style */
a {color:inherit; text-decoration: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;}
a {color: #0a9bdf; border-bottom: 1px dashed;}
a.link {border-bottom: 1px solid;}
a:hover {border-bottom: none;}

/* Colors style */
.pink {color: #dc55a1;}
.gray {color: #a5a5a5;}
.lgray {color: #e0e0e0;}
.green {color: #55dcb7;}
.white {color: #ffffff;}
.black {color: #2d2d2d;}

/* Font family style */
.pnr {font-family: 'Proxima Nova Regular', sans-serif;}
.pnbl {font-family: 'Proxima Nova Black', sans-serif;}
.pnbd {font-family: 'Proxima Nova Bold', sans-serif;}
.pnt {font-family: 'Proxima Nova Thin', sans-serif;}
.pnl {font-family: 'Proxima Nova Light', sans-serif;}

/* Text & font style */
.fnorm {font-weight: normal;}
.bold {font-weight: bold;}
.italic {font-style: italic;}
.center {text-align: center;}
.alleft {text-align: left;}
.alright {text-align: right;}
.upp {text-transform: uppercase;}
.under {text-decoration: underline;}
.line-th {text-decoration: line-through;}
.no-padding {padding: 0;}
.flleft {float: left;}
.flright {float: right;}
.lh100 {line-height: 100%;}
.lh110 {line-height: 110%;}
.lh120 {line-height: 120%;}
.lh130 {line-height: 130%;}
.lh140 {line-height: 140%;}
.lh150 {line-height: 150%;}
.lh160 {line-height: 160%;}

/* Display style */
.inline-b {display: inline-block; zoom: 1; *display: inline;}
/* Positon's style */
.rel {position: relative;}
.abs {position: absolute;}
.fix {position: fixed;}
.vat {vertical-align: top;}
.vam {vertical-align: middle;}
/* Clear */
.clearfix:after {content: ""; display: table; clear: both; *zoom: 1;}
.clear {clear: both;}

/*============ FORM ============*/

input, select, textarea {
  display: initial;
  width: calc(100% - 2px);
  line-height: 45px;
  margin: 4px auto!important;
  border: 1px solid #cfd1d3;
  border-radius: 3px;
  outline: none;
  text-indent: 26px;
  color: #2d2d2d;
  box-sizing:content-box;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input {height: 54px;}
textarea{width: calc(100% - 54px); min-height: 144px; text-indent: inherit; padding: 20px 26px;}

/* placeholder style */
::-webkit-input-placeholder {color: #c5c5c5; font-size: 16px;}
:-moz-placeholder {color: #c5c5c5; font-size: 16px;}
::-moz-placeholder {color: #c5c5c5; font-size: 16px;} 
:-ms-input-placeholder {color: #c5c5c5; font-size: 16px;}

input[name="mail"]::-webkit-input-placeholder {color: #c5c5c5; font-size: 16px; font-style: italic;}
input[name="mail"]:-moz-placeholder {color: #c5c5c5; font-size: 16px; font-style: italic;}
input[name="mail"]::-moz-placeholder {color: #c5c5c5; font-size: 16px; font-style: italic;} 
input[name="mail"]:-ms-input-placeholder {color: #c5c5c5; font-size: 16px; font-style: italic;}

:focus::-webkit-input-placeholder {}
:focus::-moz-placeholder          {}
:focus:-moz-placeholder           {}
:focus:-ms-input-placeholder      {}

/* Form button & custom button style */
button {background: none; outline: none; border: none;}
button {
  width: 100%;
  height: 56px;
  margin-top: 0px!important;
  border-radius: 4px;
  font-family: 'Proxima Nova Regular'!important;
  font-size: 16px!important;
  background-color: #55dcb7;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

/*============ ANIMATIONS ============*/

/* Button animation */

button, .button {
  position: relative;
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
}

button:hover, .button:hover {
  opacity: 1;
  /*transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);*/
  -webkit-filter: contrast(80%); /* Safari */ 
  filter: contrast(80%); 
  -webkit-filter: brightness(100%); /* Safari */ 
  filter: brightness(105%);
}

button:active, .button:active {
  /*transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);*/
}

.button:focus {
  
}

/* END MAIN CSS */