*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;;
}
body{
	min-width: 100%;
	background-image: url(img/staroederevo7.jpg);
}
div{
	position: relative;
}
.bcg{
	height: 600px;
	background-position: center;
	background-image: url(img/boar_PNG3.png);
}
.green{
	height: 100%;
	background-color: #6905;
	box-shadow: 0px 0px 100px black;
}
.logo{
	color: #DEFF00;
	font-family: 'Cormorant Infant', serif;
}
.one{
		font-size: 30pt;
		margin-top: 50px;
}
.two{
	font-size: 30pt;
}
.circle{
	background-color: #99cc33;
	border-radius: 100px;
	border: 10px solid #99cc33;
	height: 120px;
	width: 120px;
	margin-top: -60px;
	margin-left: calc(50% - 50px);
	margin-right: calc(50% - 50px);
	margin-bottom: 50px;
}

.mainone{
	background-color: #fff;
	box-shadow: 0px 0px 100px black;
	margin-top: -100px;
}
.caption{
	text-align: center;
	font-size: 24pt;
}
.margin{
	margin-bottom: 86px;
	line-height: 34pt;
}
.text{
	font-size: 18pt;
	text-align: justify;
}
.maintwo{
	box-shadow: 0px 0px 100px black;
	z-index: -10;
	background-image: url(img/derevo1.jpg);
}
.gallery{
	width: 100%;
	height: auto;
}
.container{

}
