/*============ WRAPPER ============*/
.block {background: #00cfd9; max-width: 640px; margin: 0 auto;}
.wrap {width: 640px; padding: 0 25px; box-sizing: border-box;  margin: 0 auto;}
.wrap:after, .wrap:before {content: " "; display: table; clear: both;}
ul {list-style-type: none;}

.button {
  display: block;
  width: 250px;
  height: 51px;
  line-height: 51px;
  border-radius: 10px;
  background-color: #7e00ff;
  border-bottom: 3px solid #171b26;
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 700!important;
  text-transform: uppercase!important;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.link {border-bottom: 1px solid;}

/*============ BLOCK'S ============*/
.header {display: none; height: 80px; background: url('../img/header.jpg') no-repeat center;}
.header p {padding: 16px 0 0 146px;}
.header a {right: 12px; bottom: -5px; padding: 5px 12px; border: 1px solid; border-radius: 8px;}
.header a:hover {background: #00cfd9; color: #ffffff;}

.block1 {padding: 30px 0; background: #231f20;}
.block1 .wrap {text-align: left;}
.block1 .wrap:before {content: ''; display: block; width: 100%;margin-bottom: -28px;}
.block1 .wrap:after {content: ''; display: inline-block; zoom: 1; width: 100%;}
.block1 .inline-b {vertical-align: middle; position: relative; top: 24px; padding-right: 13px;}
.block1 .inline-b:last-child {padding-right: 0;}
.block1 .inline-b img, .block1 .inline-b p {display: inline-block; zoom: 1; *display: inline; vertical-align: middle; }
.block1 .inline-b img {margin: 0 10px 0 0;}
.block1 p {padding: 0; font-size: 15px;}

.block2 {background: url('../img/bg1.jpg') center top;}
.block2 .px40 {padding: 35px 0 40px;}
.block2 .logo {display: block; margin: 0 auto;}
.block2 .product1 {width: 314px; height: 554px; background: url('../img/product1.png') no-repeat center; float: left; margin: 5px 0 -20px -72px; background-size: contain;}
.product1:after {content: url('../img/label_347r.png'); position: absolute; bottom: 23px; right: 110px;}
.block2 ul {margin: 20px 0 0 46px;}
ul li {padding: 14px 0 14px 65px; background: url('../img/li.png') no-repeat 0 50%;}
.block2 .text {float: right; width: 334px; margin: 50px 0 0 -40px;}
.block2 .text ul {margin: 0;}
.block2 .text .px100 {float: left; margin: -4px 20px 0 -10px; line-height: 100%;}
.block2 .text ul li {padding: 10px 0 10px 75px; background: url('../img/li.png') no-repeat 0 14px;}

.remained-container {display: inline-block; background-color: #2e323b; padding: 14px 20px; border-radius: 8px; margin-top: 30px; box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.12);}
.remained-container p {font-family: 'SFUIDisplay-Bold', sans-serif; font-size: 18px; padding: 0;}
.remained-container .left-box {display: inline-block; width: 50px; height: 50px; margin: 0 4px; line-height: 50px; font-size: 20px; text-align: center; background-color: #ef1650; border-radius: 25px;}

.form-container {width: 530px; padding: 0 24px 24px; box-sizing: border-box; position: relative; background: #fff; border-radius: 8px; margin: 70px auto 0;}
.form-container .px40 {padding: 26px 0;}
.action-valid {width: 100%; line-height: 180%; font-size: 18px; background-color: #231f20; color: #ffffff; text-align: center; font-family: 'SFUIDisplay-Bold', sans-serif; border-radius: 8px;}
.price, .action-price {margin: 12px 0 12px 0;}
.price {width: 220px;}
.action-price {width: calc(100% - 226px);}
.price p, .action-price p {padding: 3px 0;}
.price-lt:after {content: url('../img/lt.png'); position: absolute; top: 6px; right: 18px;}
.lp-text {padding: 18px 0 0;}
.left-pack {background: #ef1650; display: inline-block; width: 78px; height: 38px; line-height: 38px; text-align: center; vertical-align: middle; font-weight: bold; border-radius: 5px; color: #fff; margin: 0 8px;}
.buy-pack {background: #231f20; display: inline-block; width: 90px; height: 38px; line-height: 38px; text-align: center; vertical-align: middle; font-weight: bold; border-radius: 5px; color: #fff; margin: 0 8px;}

.block4 .hr {display: block; margin: 30px auto;}
.block4 .concept {margin: 20px 0 30px;}
.block4 .concept img, .block4 .concept p {display: inline-block; vertical-align: middle;}
.block4 .concept p {width: 390px; padding: 0; color: #ffffff;}
.block4 .concept img {margin-right: 40px;}
.block4 .hr2 {display: block; margin: 50px auto -8px;}

.block5 {background: url('../img/bg3.jpg') no-repeat center bottom, url('../img/bg2.jpg') repeat-y center top; padding-bottom: 15px;}
.block5 .px50 {padding: 40px 0;}
.block5 .gling .px20, .block5 .ing .px20 {padding: 0;}
.block5 .gling .px30, .block5 .ing .px30 {padding: 16px 0 12px;}
.block5 .gling {width: calc(588px - 60px); padding: 0 30px; height: 291px; background: url('../img/ing1.png') no-repeat center;}
.block5 .ing {float: left; width: calc(291px - 40px); padding: 0 20px; height: 291px; margin-bottom: 8px;}
.block5 .ing.left {margin-right: 8px;}
.block5 .ing:nth-child(6) {background: url('../img/ing2.png') no-repeat center;}
.block5 .ing:nth-child(7) {background: url('../img/ing3.png') no-repeat center; color: #fff;}
.block5 .ing:nth-child(7) .px30 {padding-top: 150px;}
.block5 .ing:nth-child(8) {background: url('../img/ing4.png') no-repeat center; color: #fff;}
.block5 .ing:nth-child(9) {background: url('../img/ing5.png') no-repeat center;}
.block5 .ing:nth-child(9) .px30 {padding-top: 150px;}
.block5 .ing:nth-child(10) {background: url('../img/ing6.png') no-repeat center;}
.block5 .ing:nth-child(11) {background: url('../img/ing7.png') no-repeat center; color: #fff;}
.block5 .ing:nth-child(12) {background: url('../img/ing8.png') no-repeat center; color: #fff;}
.block5 .ing:nth-child(13) {background: url('../img/ing9.png') no-repeat center;}

.block6 {background: #231f20 url('../img/bg4.jpg') no-repeat center bottom;}
.block6 .wrap {position: relative; height: 1500px; background: url('../img/girl.png') no-repeat bottom 60px center;}
.block6 .px40 {padding: 26px 0 32px;}
.block6 div.green * {display: inline-block; vertical-align: middle;}
.block6 div.green img {margin-right: 16px;}
.block6 div.green {width: 480px; margin: 0 auto; padding: 16px 20px; border: 2px solid #4ab957; border-radius: 12px;}
.block6 .text p {position: absolute; padding: 0; font-size: 23px; line-height: 120%; color: #ffffff;}
.block6 .text p:nth-child(1) {top: 278px; left: 106px; text-align: right;}
.block6 .text p:nth-child(2) {top: 278px; right: 170px; text-align: right;}
.block6 .text p:nth-child(3) {top: 466px; left: 25px;}
.block6 .text p:nth-child(4) {top: 466px; right: 25px;}
.block6 .text p:nth-child(5) {top: 656px; left: 54px; text-align: right;}
.block6 .text p:nth-child(6) {top: 656px; right: 34px;}
.block6 .text p:nth-child(7) {top: 836px; left: 36px; text-align: right;}
.block6 .text p:nth-child(8) {top: 816px; right: 20px;}
.block6 .text p:nth-child(9) {top: 1020px; left: 44px;}
.block6 .text p:nth-child(10) {top: 1062px; right: 28px;}
.block6 .text p:nth-child(11) {top: 1246px; left:110px;}

.info-block {margin-top: 30px; width: 100%; box-sizing: border-box; padding: 15px 30px 30px; background: #00cfd9; border-radius: 10px; }
.info-block .text {padding-left: 175px; background: url(../img/att.png) no-repeat 0 10px;}
.info-block .btn {display: block; width: 100%; height: 84px; line-height: 84px; margin-top: 20px; border-radius: 8px; background-color: #4ab957;  border-bottom: 5px solid #20742a;  font-family: 'Open Sans', sans-serif!important;  font-weight: 700!important;  text-transform: uppercase!important; text-align: center; color: #ffffff; cursor: pointer; transition: all 0.2s;}
.info-block .btn:hover {opacity: 1;  -webkit-filter: contrast(140%); /* Safari */   filter: contrast(140%);   -webkit-filter: brightness(120%); /* Safari */   filter: brightness(110%);}

.block.doc {background: #22cfd8 url('../img/doc.png') no-repeat top 688px center; padding-bottom: 182px;}
.block.doc .text {padding: 0 23px;}
.block.doc .text p {line-height: 140%; padding: 14px 0;}
.block.doc .quote {position: relative; left: 35px!important;}
.block.doc .quote:before {content: url('../img/qtop.png'); position: absolute; left: -35px; top: 10px;}
.block.doc .quote:after {content: url('../img/qbottom.png'); position: absolute; bottom: 0; margin-left: 2px;}
.block.doc .doc-name {padding-bottom: 0!important;}
.block.doc .italic {line-height: 120%!important; padding-top: 14px!important;}

.block7 .wrap > .px30 {padding: 40px 0;}
.block7 .product2 {position: relative; width: 405px; height: 511px; background: url('../img/product1.png') no-repeat center; margin: 0 auto;}
.block7 .product2:after {content: url('../img/label_347r.png'); position: absolute; bottom: 50px; left: -40px;}
.block7 .form-container {margin-top: 20px;}
.block7 .hr {display: block; margin: 30px auto;}

.block8 {/*background: url('../images/bg/rc5s.png') no-repeat right 0 top 110px;*/; background-color: #ffffff; padding-bottom: 30px;}
.block8 .px50 {padding: 24px 0;}
.block8 .wrap {padding: 0 50px;}
.block8 .product-pack {padding-top: 50px; position: relative;}
.block8 .product-pack:after {content: url('../img/stik_1rur.png'); position: absolute; bottom: 220px; left: 300px;}
.block8 .product-container {margin-top: -10px;}
.block8 .product-container .title {padding-bottom: 40px;}

.bx-wrapper {margin: 40px auto!important; box-shadow: none!important; border: none!important;}
.block8 .slide {border: 1px solid #d2d2d2; border-radius: 20px;}
.block8 .slide-header *, .block8 .slide-footer * {display: inline-block; vertical-align: middle;}
.block8 .slide-header, .block8 .slide-footer {padding: 18px;}
.block8 .slide-header img {margin-right: 30px;}
.block8 .slide-footer img {margin-right: 15px;}
.block8 .slide .like {position: relative; z-index: 9999; width: 43px; height: 37px; background: url('../img/like.png') no-repeat center; cursor: pointer;}
.block8 .slide .like.active {background: url('../img/like2.png') no-repeat center;}
.block8 .slide .currlike {position: relative;}

.block8 .swipe {width: 370px; margin: 0 auto;}
.block8 .swipe img {margin-right: 20px;}
.block8 .swipe * {display: inline-block; vertical-align: middle;}

/*============ FOOTER ============*/
.block9 {background: #231f20; padding: 30px 0 0; height: auto;}
.block9 .wrap {padding: 0 60px;}
.block9 p {color: #b6b7b8;}
.block9 ul {max-width: 520px;}
.block9 ul li {display: inline-block; vertical-align: top; color: #b6b7b8; background: none; padding:0;}
.block9 ul.list li {display: block; padding: 12px 0 14px 70px;}
.block9 ul.list li:nth-child(1) {background: url('../img/footer_ico1.png') no-repeat 0 50%;}
.block9 ul.list li:nth-child(2) {background: url('../img/footer_ico2.png') no-repeat 0 50%;}
.block9 ul.list li:nth-child(3) {background: url('../img/footer_ico3.png') no-repeat 0 50%;}
.block9 .hotline {padding-left: 30px;}
.block9 ul li.foot  {margin: 30px 0;}
.block9 .footer {background: #231f20; padding: 15px 0 10px;}
.block9 .title {padding-bottom: 25px;}
.block9 .adr {padding: 0px 0 16px;}
.bx-controls-direction {display: none}
video::-webkit-media-controls {
  display:none !important;

}
.vid{
    padding-top: 20px;
}