p,{
	text-decoration: none;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.logo{
	margin-top: 45px;
	font-size: 35pt;
}
#bacground{
	height: 900px;
	background-position: center;
	background-size: cover;

	background-image: url(img/computer-laptop-desk-light-lamp-dark-room-fa-2048x1152.jpg);
}
.bcg{
	background-color: #444;
	min-height: 10px;
		box-shadow: 0px 0px 40px black;
}
.exampleone{
	margin-top: 50px;
	margin-bottom: 50px;
	height: 650px;
	background-image: url(img/exampleone.jpg);
	background-size: cover;
	background-position: top center;
	border: 5px solid #666;
	box-shadow: 0px 0px 50px black;
	border-radius: 5px;
	position: relative;
}
.fon{
	height: 50%;
	width: 100%;
	background-color: #00000078;
	position: absolute;
	bottom: 0;
	padding-top: calc(165px - 20pt);

}
#linkone{
	text-align: center;
	font-size: 20pt;
}
.caption{
	color: black;
	margin-top: 100px;
	font-size: 25pt;
	text-align: center;
}
.text{
	font-size: 18pt;
	color: black;
	text-align: center;
	margin-top: 60px;
}
#maile{
	margin-top: 100px;
	margin-bottom: 100px;
}
button{
	font-size: 20pt;
}



@media (max-width: 490px) {
	.logo{
		font-size: 25pt;
	}
}
@media(max-width: 992px){
	#linkone{
		font-size: 15px;
	}
	.fon{
		padding-top: calc(165px - 15pt);
	}

}
@media(max-width: 350px){
	#linkone{
		font-size: 10pt;
	}
	.fon{
		padding-top: calc(125px - 10pt);
	}
	.exampleone{
		height: 500px;
	}
}