li{
	background-color: #CBF10DFF;
	color: white;
	display: none;

}
#a{
	background-color: #FDFC01FF;
	height: 100px;
	width: 100px;
}
#a:active{
	display: none;
}
#a:hover li{
	display: block;
}
